#d1, #d2{
	 width: 80px;
    height: 20px;
	padding:10px;
	 position: relative;
	font-weight:bold;
	
	color:white;
	letter-spacing:2px;
	border-radius:10px;
	box-shadow: 0px 2px 16px 2px #e6e6e6;
}

#d1{
 animation-name: example;
 animation-duration: 4s;
    animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-delay: -2s;
	 background-color: red;
	 
}
@keyframes example {
    0%   {left:0%;top:50%;}
    25%  {left:10%;top:50%;transform: rotate(90deg);}
    50%  {left:20%;top:50%;transform: rotate(180deg);}
    75%  {left:30%;top:50%;transform: rotate(270deg);}
    90%  {left:40%;top:50%;transform: rotate(300deg);}
	100% {left:50%;top:50%;transform: rotate(360deg);}
}


#d2{
	background-color: #00ace6;
	  animation-name: example2;
    animation-duration: 4s;
	
    animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-delay: -2s;
}

@keyframes example2{
    0%   {left:80%;}
    25%  {left:70%;transform: rotate(-90deg);}
    50%  {left:60%;transform: rotate(-180deg);}
    75%  {left:50%;transform: rotate(-270deg);}
    90%  {left:50%;transform: rotate(-300deg);}
	100% {left:50%;transform: rotate(-360deg);}
}

@media screen and (max-width:650px)
{
	
	@keyframes example {
    0%   {left:0%;top:50%;}
    25%  {left:10%;top:50%;transform: rotate(90deg);}
    50%  {left:20%;top:50%;transform: rotate(180deg);}
    75%  {left:25%;top:50%;transform: rotate(270deg);}
    100% {left:25%;top:50%;transform: rotate(360deg);}
	}
	@keyframes example2{
    0%   {left:60%;}
    25%  {left:50%;transform: rotate(-90deg);}
    50%  {left:30%;transform: rotate(-180deg);}
    75%  {left:25%;transform: rotate(-270deg);}
    100% {left:25%;transform: rotate(-360deg);}
	}
}